<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<div class="image">

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">Enter City Name</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="city">
<button type="button" class="btn btn-dark" (click)="getWeather()" >Get Weather Details</button>
</div>

<app-weather-data></app-weather-data>  

</div>





 


<!-- 
<input type="text" [(ngModel)]="city">
<button (click)="getWeather()">Click Me</button>
<app-weather-data></app-weather-data>   -->
